/* config tests */

#box-layer-background{
  background-color: rgba(178, 255, 168, 0.3);
  width: 95%;
  height: 350px;
  clear: both;
  display: block;
}

#box-layer-1{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 20px;
  float: left;
}

#box-layer-1 img{
  height:60px;
  width:70px;
}

#box-layer-2{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 8%;
  float: left;
  margin-left: 10%;
}

#box-layer-3{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 20px;
  float: left;
  margin-left: 15%;
}

#box-layer-4{
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 8%;
  float: right;
  margin-left: 10%;
}

/* config sections */
#bodySite {
  position: relative;
  top: 720px;
  z-index: 1;
  background-color: rgb(251, 251, 251);
}

#section1 {
  height: 600px;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

#section2 {
  margin: 0;
  width: 100%;
  height: 700px;
  background-color:white;
  background-size: auto 2px;
}

#section3 {
  height: 600px;
  padding: 0px;
  margin: 0px;
  background-color: blue;
}

#section4 {
  height: 600px;
  padding: 0px;
  margin: 0px;
  background-color: green;
}

#section5 {
  height: 600px;
  padding: 0px;
  margin: 0px;
  background-image: url('../images/bricks.jpeg');
  background-size: cover;
  background-position: center;
}

/* Parallax - home page */
.header-paralax {
  background-image: url('../images/background2.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 720px;
}

#title-home-box {
  top: 35%;
  height: 200px;
  background-color: rgba(27, 80, 25, 0.50);
  float: center;
  position: relative;
}

#title-home-box h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 70px;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0 0 10px black;
  height: 105px;
  text-align: center;
  padding-right: 2%;
  padding-top: 2%;
}

#title-home-box h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0 0 10px black;
  height: 105px;
  text-align: center;
  padding-right: 2%;
  padding-top: 1%;
}

/* Parallax - home page end*/
#text-new {
  padding-top: 15px;
  text-align: center;
  color: black;
}

#text-new h1 {
  color: #2DAF41;
  text-transform: uppercase;
}

#text-new p {
  font-size: 20px;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

#text-new img {
  width: 70%;
  height: 120px;
  margin-top: 20px;
}

#text-products-home {
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
}

/* Parallax - image florest */
.body-paralax {
  background-image: url('../images/floresta-amazonica-papel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
}

#text-p-container-1 {
  color: white;
  top: 40%;
  height: 100px;
  background-color: rgba(63, 88, 59, 0.65);
  float: center;
  position: relative;
  text-align: center;
  box-shadow: 0 0 5px rgba(142, 142, 142, 0.67);
}

#text-p-container-1 h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  top: 30%;
  height: 50px;
  float: center;
  position: relative;
  text-align: center;
  text-shadow: 0 0 10px black;
}

/*contact*/
.back-contact, .iframe-contact {
  width: 42.5%;
  text-align: center;
  float: left;
  margin-top: 6%;
  margin-left: 5%;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.6);
  border-width: 5px;
  border-radius: 5px;
}

.back-contact hr, .iframe-contact hr{
  border-color: forestgreen;
}

#text-new h1{
  padding-top: 1%;
  color: forestgreen;
  text-transform: none;
}

.back-contact h3{
  color: #196024;
}

.iframe-contact{
  margin-right: 5%;
  float: right;
}

iframe{
  margin-top: 4%;
  padding-bottom: 1%;
}

.iframe-contact h1{
  color: forestgreen;
  padding-top: 1%;
}

/* Products list home */
#box-product-01 {
  display: block;
  float: left;
  width: 400px;
  height: auto;
  margin-left: 4%;
  text-align: center;
}

#box-product-02 {
  display: block;
  float: left;
  width: 400px;
  height: auto;
  margin-left: 2%;
  text-align: center;
}

#box-product-03 {
  display: block;
  float: left;
  width: 400px;
  height: auto;
  margin-left: 2%;
  text-align: center;
}

#product-01 {
  display: block;
  float: left;
  width: 100%;
  height: 220px;
}

#product-02 {
  display: block;
  float: left;
  width: 100%;
  height: 220px;
}

#product-03 {
  display: block;
  float: right;
  width: 100%;
  height: 220px;
}

#box-products {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

span, h2, p {
  font-family: 'Questrial', sans-serif;
  color: black;
}

#btnDescription1, #btnDescription2, #btnDescription3 {
  background-color: black;
}

#products {
  width: 90%;
  max-width: 1500px;
  min-width: 320px;
  margin: 50px auto;
  height: 500px;
}

#text-products-home h1{
  color: forestgreen;
}
.product {
  width: 30%;
  float: left;
  background-color: #FFF;
  box-shadow: 0 0 10px #666;
  border-radius: 5px;
}

.right {
  float: right;
}

.center {
  margin-left: 5%;
}

.product img {
  width: 100%;
  max-height: 300px;
  object-fit: fill;
  object-position: top center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product h2 {
  text-align: center;
  background-color: forestgreen;
  color: white;
  display: block;
  font-size: 28px;
}

.product p {
  text-align: center;
  margin-top: 1%;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Products list home end */
