::-webkit-scrollbar-track {
  background-color: #ECF0F1;
}

::-webkit-scrollbar {
  width: 6px;
  background: #95A5A6;
}

::-webkit-scrollbar-thumb {
  background: #95A5A6;
  border-radius: 5px;
}

* {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Questrial', sans-serif;
  font-size: 16pt;
}

/* cabeçalho da página */
#c_logo {
  padding: 2px;
  width: 150px;
}

#logotipo {
  width: 45px;
  height: 45px;
  padding-left: auto;
  padding-right: auto;
  position: relative;
  left: 35px;
}

.header-row {
  width: 100%;
  height: 51.30px;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* Navbar*/
.navbar {
  background-color: rgb(0,0,0,0.4);
  height: auto;
  text-transform: uppercase;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: block;
  width: 220px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  transition: 1s;
  color: white;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.li-bar {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 220px;
  padding-left: 20px;
  text-align: center;
  color: white;
}

.navbar a:hover {
  cursor: pointer;
  z-index: 1;
  color: green;
}

.icon_bar {
  background-color: rgb(41, 42, 46);
}

/* footer */
#footer-box {
  height: auto;
  width: auto;
  display: block;
  clear: both;
  background-color: #080A0A;
}

#footer-div01 {
  color: white;
  text-align: center;
}

#footer-div01 h3 {
  font-size: 1em;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
}

iframe {
  border: 1px solid black;
  overflow: hidden;
  margin-left: 14%;
  float: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

#text-footer-develop {
  display: block;
  float: right;
  padding: 1% 1% 1% 1%;
  margin-right: 2%;
  margin-top: 3%;
}

#text-footer-develop h3 {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
  text-align: center;
}

#text-footer-develop a {
  color: white;
  display: block;
  float: left;
  text-decoration: none;
  padding: 1% 1% 2% 1%;
}

#text-footer-develop a:hover {
  font-size: 15pt;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
  color: #2DAF41;
}

.fab {

}

#links-footer {
  display: block;
  float: left;
  margin-top: 3%;
  text-transform: uppercase;
}

#links-footer a{
  color: white;
  text-decoration: none;
  padding: 1% 1% 2% 1%;
  cursor: pointer;
}

#links-footer a:hover {
  font-size: 15pt;
  text-decoration: none;
  color:#2DAF41;
}
